@import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap");

html {
  background-color: #1f2b3b !important;
  color: #fff !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body,
nav,
section {
  background-color: #1f2b3b !important;
  color: #fff !important;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #fff;
}

.icon:hover {
  transform: scale(1.5);
  color: #ff8a00;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in;
  background-color: #324359 !important;
}

.card p {
  font-size: 0.7em;
  color: #ccc !important;
}

.card a {
  font-size: 0.7em;
}

.card:hover {
  transform: scale(1.09);
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background-color: #1f2b3b !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  /* text-align: center; */
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  margin: auto;
  /* text-align: center; */
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 90px/1.1em "opensans-bold", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
header .banner-text h3 {
  font: 18px/1.9em "librebaskerville-regular", serif;
  color: #a8a8a8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a {
  color: #fff;
}
header .social li a:hover {
  color: #11abb0;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: #11abb0;
}
